.vscode/
*/code/main
*/code/*.o
*/sprawozdanie/sprawozdanie.out
*/sprawozdanie/sprawozdanie.aux
*/sprawozdanie/sprawozdanie.bbl
*/sprawozdanie/sprawozdanie.blg
*/sprawozdanie/sprawozdanie.fdb_latexmk
*/sprawozdanie/sprawozdanie.fls
*/sprawozdanie/sprawozdanie.log
*/sprawozdanie/sprawozdanie.out
*/sprawozdanie/sprawozdanie.toc
*/sprawozdanie/sprawozdanie.dvi